body{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #fffaed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}
Li {
    font-size: 45px;
    font-family; 'Lato', sans-serif;
    letter-spacing: 4px;
    color: #444444;
    

}